USE [UsersApp]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 12/03/2025 9:54:26 a. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuarios]') AND type in (N'U'))
DROP TABLE [dbo].[Usuarios]
GO
/****** Object:  User [userapp]    Script Date: 12/03/2025 9:54:26 a. m. ******/
DROP USER [userapp]
GO
USE [master]
GO
/****** Object:  Database [UsersApp]    Script Date: 12/03/2025 9:54:26 a. m. ******/
DROP DATABASE [UsersApp]
GO
/****** Object:  Database [UsersApp]    Script Date: 12/03/2025 9:54:26 a. m. ******/
CREATE DATABASE [UsersApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UsersApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UsersApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UsersApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UsersApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UsersApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UsersApp]
GO
/****** Object:  User [userapp]    Script Date: 12/03/2025 9:54:27 a. m. ******/
CREATE USER [userapp] FOR LOGIN [userapp] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [userapp]
GO
ALTER ROLE [db_datareader] ADD MEMBER [userapp]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 12/03/2025 9:54:27 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Clave] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nombre], [Email], [Clave]) VALUES (1, N'Erick Miranda', N'ergamian1017@gmail.com', N'$2a$10$GLvmqpxDG0nW9eZOEDtOqeDBrQwGFWTdYX.Cuh8wo2AzWgh569.DW')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
USE [master]
GO
